h1 
{
    color: blueviolet;
}
#container{
    width: 70%;
    padding: 0 auto;
    border: 1px solid;
    margin: 0 auto;


}
#post
{
    text-align: center;
    font-size: 20px;
    font-family: Arial;
}

#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 0.5em;
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}